{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}


    <img class="flash-img" src="https://www.techdonut.co.uk/sites/default/files/production/image/website-design-software-5036405501.jpg">
    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
