/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    height: 200px;
    padding: 3em;
    background-color: #444;
    color: rgb(250, 248, 248);


    a {
        color: rgb(207, 196, 196);
    }
}

.footer>div {
    text-align: center;
}

.footer .social {
    font-size: 2rem;
}
