$font-color: rgb(56, 54, 54);
$font-alternative: #fff;
$accent-color: #3d5a80;
$background-color: #fad4f5;
$background-alternative-color: #e0fbfc;
$main-font-size: 1.4rem;
$main-line-height: 1.3;
$magic-number: $main-font-size*$main-line-height;
$font-weight-header: 1000;
$font-weight-paragrph: 400;
